---
import Layout from '../layouts/Layout.astro';
import FuturisticContactn from '../components/paginas/contacto';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <FuturisticContactn client:load />
  </main>
</Layout>