---
import Layout from '../layouts/Layout.astro';
import PcmMaturityForm from '../components/paginas/PcmMaturityForm';
---

<Layout title="Evaluación Gratuita | JM AI Consulting">
  <main>
    <PcmMaturityForm client:load />
  </main>
</Layout>