---
import Layout from '../layouts/Layout.astro';
import BpmMaturityForm from '../components/paginas/BpmMaturityForm';
---

<Layout title="Evaluación Gratuita | JM AI Consulting">
  <main>
    <BpmMaturityForm client:load />
  </main>
</Layout>