---
import Layout from '../layouts/Layout.astro';
import ISO9001MaturityForm from '../components/paginas/ISO9001MaturityForm';
---

<Layout title="Evaluación Gratuita | JM AI Consulting">
  <main>
    <ISO9001MaturityForm client:load />
  </main>
</Layout>