---
import Layout from '../layouts/Layout.astro';
import NosotrosSection from '../components/paginas/NosotrosSection';
---

<Layout title="Nosotros | JM AI Consulting">
  <main>
    <NosotrosSection client:load />
  </main>
</Layout>