---
import Layout from '../layouts/Layout.astro';
import RecursosPage from '../components/paginas/RecursosPage';
---

<Layout title="Nosotros | JM AI Consulting">
  <main>
    <RecursosPage client:load />
  </main>
</Layout>