---
import Layout from '../layouts/Layout.astro';
import Servicios from '../components/paginas/Servicios';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <Servicios client:load />
  </main>
</Layout>