---
import Layout from '../../layouts/Layout.astro';
import BPM from '../../components/paginas/BPM';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <BPM client:load />
  </main>
</Layout>