---
import Layout from '../../layouts/Layout.astro';
import GestionConocimientoContent from '../../components/paginas/GestionConocimientoContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <GestionConocimientoContent client:load />
  </main>
</Layout>