---
import Layout from '../../layouts/Layout.astro';
import DataAnalyticsContent from '../../components/paginas/DataAnalyticsContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <DataAnalyticsContent client:load />
  </main>
</Layout>