---
import Layout from '../../layouts/Layout.astro';
import GestionProyectosContent from '../../components/paginas/GestionProyectosContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <GestionProyectosContent client:load />
  </main>
</Layout>