---
import Layout from '../../layouts/Layout.astro';
import GestionRiesgosContent from '../../components/paginas/GestionRiesgosContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <GestionRiesgosContent client:load />
  </main>
</Layout>