---
import Layout from '../../layouts/Layout.astro';
import SistemasGestionContent from '../../components/paginas/SistemasGestionContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <SistemasGestionContent client:load />
  </main>
</Layout>