---
import Layout from '../../layouts/Layout.astro';
import TransformacionDigitalContent from '../../components/paginas/TransformacionDigitalContent';
---

<Layout title="Contacto | JM AI Consulting">
  <main>
    <TransformacionDigitalContent client:load />
  </main>
</Layout>